* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0; 
}

/* NavBar CSS  */

.main-logo {
  height: 30px;
  padding-right: 1%;
}

.Nav-bar-container {
  background-color: rgb(32, 154, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Content CSS Compent  */

.main-content-section {
  /* border: 2px solid black; */
  padding: 2% 25%;
}

.main-img {
  height: 40vh;
  width: 15vw;
  border-radius: 5%;
}

.main-content-section{
  display: flex;
}

.section-main {
  margin-left: 4%;
  width: 100%;
}

.location-text {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  margin: 1%;
  text-transform: uppercase;
}

.google-text {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;

}

h4 {
  margin-bottom: 0;
  margin-top: 0%;
  font-weight: 700;
  font-size: .9rem;
  line-height: 12px;
  color: #2B283A;

}

h1{
  margin-top: 1.5% ;
  font-size: 2.5rem;
  margin-bottom: 4%;
}

p {
  margin-top: 3%;
  font-weight: 400;
  font-size: .75rem;
  line-height: 150%;
  color: #2B283A;
}

a {
  text-decoration: none;
}